/**{
outline: 1px solid red;
}*/
body
{
  background-color: azure;
}
.container-full
{
  margin: 0 auto;
  width: 100%;
}
.border
{
  border: 2px solid;
}
.custom-navbar
{
  border-radius: 0;
}
.main-body
{
  margin-top : 18px;
  min-height: 320px;
  background-color: white;
}
.custom-form
{
  width: 50%;
}
.body-margin-bottom
{
  margin-bottom: 20px;
}

/*Overriding Bootstrap Classes*/
.list-group-item{
  border: 0;
  padding-left: 0;
}
