<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Item</title>
  </head>
  <body>
    <form  action="{{url_for('editItem', itemtitle=item.title)}}" method="post">
      <label>Title:</label>
      <input type="text" name="title" value="{{item.title}}">
      <br>
      <label>Description:</label>
      <textarea name="description" rows="8" cols="40">{{item.description}}</textarea>
      <br>
      <label>Category:</label>
      <select name="category_id">
        {% for category in categories %}
          {% if category.id == item.category_id %}
            <option value="{{category.id}}" selected>{{category.name}}</option>
          {% else %}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Edit">
      <a href="{{url_for('descItem', itemtitle=item.title)}}">Cancel</a>
    </form>
  </body>
</html>
