{% extends "main.html" %}
{% block content %}
<div class="col-md-6">
  <h2>Categories</h2>
  <ul class="list-group">
    {% for category in categories %}
      <li class="list-group-item">
        <a href="{{url_for('allItems', catgryname=category.name)}}">
          {{category.name}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="col-md-6">
  <h2>{{category.name}} items</h2>
  {% if user_signed_in %}
    <a href="{{url_for('newItem')}}">Add Item</a>
  {% endif %}  
  <ul class="list-group list-border">
    {% for item in items %}
      <li class="list-group-item">
        <a href="{{url_for('descItem', itemtitle=item.title)}}">{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
