<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% block load_scripts %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse custom-navbar">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('allCategory')}}">Catalouge App</a>
      </div>
      <ul class="nav navbar-nav">
        {% if user_signed_in %}
          <li><a href="{{url_for('gdisconnet')}}">Logout</a></li>
        {% else %}
          <li><a href="{{url_for('showLogin')}}">Login</a></li>
        {% endif %}
      </ul>
    </div>
    <!--End of Navbar  -->
    <div class="container container-full">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row main-body border">
            <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
