<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
      <div class="navbar navbar-inverse custom-navbar">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <!--End of Navbar  -->
      <div class="container container-full">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row main-body border">
              <div class="col-md-12">
                <h2>Item Name</h2>
                <p>
                  Nunc blandit est nec fringilla dapibus. Nulla commodo vulputate lorem, id egestas libero commodo vitae. Sed eros elit, dignissim vitae blandit dictum, imperdiet at dui. Sed suscipit hendrerit ipsum, eget consequat sapien accumsan at. Vivamus pulvinar imperdiet velit non efficitur. Nunc ac congue elit. Maecenas purus odio, vulputate eu justo sed, accumsan malesuada arcu. Donec ut convallis urna. Proin in dignissim neque.
                </p>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
